<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBoDdle2xc-Dq-JIBoaVwnt0WfIbN0axhw</string>
	<key>GCM_SENDER_ID</key>
	<string>1072807180376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.delivery</string>
	<key>PROJECT_ID</key>
	<string>delivery-app-af37b</string>
	<key>STORAGE_BUCKET</key>
	<string>delivery-app-af37b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072807180376:ios:fe9c5ec5b43bc3e89f722d</string>
</dict>
</plist>